<ul>
  <li>Name: <%= student.name %></li>
  <br>
  <li>Birthday: <%= student.birthday.strftime("%m/%d/%Y") %></li>
  <br>
  <li>Hometown: <%= student.hometown.capitalize %></li>
</ul>
© 2020 GitHub, Inc.